.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: black;
}

h1 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #fff;
  padding-bottom: 20%;
}

span {
  color: coral;
}

button {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}
